$purple-bg: #6c35d4;



  
  .itemSingleColumn1 {
    padding: 8px;
    font-size: 12px;
    min-width: 210px;
    min-width: 350px;
  }


  .itemCell{
    outline: transparent;
    position: relative;
    

    display: flex;
  
  }

   
  .detailslist{
    font-weight: 600;
    font-size: 14px;
    white-space: normal;
  }
  

.textcenter{
    text-align: center;
}

