.newContent{
    margin: 4px;
    cursor: pointer;

}
.imagePad{
    margin:0px 10px ;
}

.personaName{
    font-size: 14px;
    font-weight: bold;
}

.personSecondary{
    font-size: 12px;
    vertical-align: top;
}

.pad10{
    padding-right:10px ;
}

.fontIcon{
    font-size: 14px;
}

.newtyoe{
    color: #6c35d4;
}

.topNew{
   
    height: 325px;    
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    

    
    
}

.topNewGradient{

   // background: linear-gradient( #7c4ad9, #5128a1, #000000) ;
   
}

.padTBTitle{
    padding: 20px 5px;
}

.padBName{
    padding-bottom: 15px;;
}

.documentRaduis{
    border-radius: 6px 6px 6px 6px;   
    border: 0px;
    max-width: 500px !important;
}
.documentRaduisImage{
    border-radius: 6px 6px 0 0;   
}


.newTopHeader{
    font-size: 12px;
    color: #ffffff;
}

.newTopTitle{
    font-size: 24px;
    color: #ffffff;
}

.newTopLabel{    
    padding-top: 230px;   
}


.imageDiv{
    width: 100%;
    height: 196px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    animation-name: css-1;
    animation-duration: 0.367s;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
    animation-fill-mode: both;
    position: relative;
}

.imageList{
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px 6px 0 0;   
    border: 0px;
}

.coverBlack{
    padding-left: 10px;
    
    padding-bottom: 14px;

    -moz-box-shadow:    inset 0 -100px 122px -10px #262626;
    -webkit-box-shadow: inset 0 -100px 122px -10px  #262626;
     box-shadow:       inset 0 -100px 122px -10px #262626;
     border-radius: 6px;
 
}