$purple-bg: #6c35d4;
$font-color: #000;

.dashboard {
  .dashboardMessageBanner {
    padding-right: 10px;
  }

  .dashboardAttendance {
    margin-bottom: 15px;
  }

  .dashboardNewsCard {
    margin-bottom: 15px;
  }

  .dashboardSharedDocument {
    margin-top: 15px;

    .fRight {
      float: right;
    }
  }
}


.aLink {
  position: relative;
  display: block;
  
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 16px;        
  color: $font-color;
  text-decoration: none;    
  padding-bottom: 12px;
}

.aLinkactive {    
  position: relative;
  display: block;
  font-weight: bold;
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 16px;        
  color: $font-color;
  text-decoration: none;    
  padding-bottom: 10px;
  border-bottom: $purple-bg  3px solid;
}
.assignmentHeader{
  padding: 15px 15px;
}

.padUS{
  padding: 30px 9px 10px 0px;
}

.iconFont{
  font-size: 25px !important;  
}

.iconColor{
  color:$purple-bg;
  font-size: 20px;
}

.cursor{
  cursor: pointer;
}

.assignmentHeader{
  padding: 15px 15px;

}