$purple-bg: #6c35d4;
$font-color: #000;
$white-bg: #fff;


 
  
  .fontIcon{
    font-size: 20px;
    color: $purple-bg;
    padding: 6px;
    background-color: #e6e6ff;
    margin-right: 3px;
    margin-top:5px;
  }

  .AttachmentCard{

        width: 152px;
        height: 152px;
     //   background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEBE9;
        border-radius: 3px;
        opacity: 1;
        text-align: center;
        padding-top: 24px ;   
  }

  .container {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: $white-bg;  
     
  }
 

  .title{
    padding-top: 15px;
  }
 