$gray-bg: #f8f8f8;
$white-bg: #fff;
$purple-bg: #6c35d4;
$yellow-bg: #f7a93b;

.barcontainer{
    height: 290px !important;  
}

.container{
    padding: 15px 10px 15px 0px;    
    border-top: 1px solid #e7e7ee;
    border-bottom: 1px solid #e7e7ee;
}

.headerleft{

    font-weight:bold;
}

.headerright {    

    text-align: right;
        label{
            font-weight:bold !important;
        }   
              
}

.legend{
    text-align: center;
}

.fontIcon{
    font-size: 12px;
}



.toggleSelected {       
        button{
            background:$purple-bg !important;     
        }    
        
}

.barHeader{
    padding: 10px 5px 0 15px;
    
}

.gradeBorder{
    border-right:1px solid  #ece5ec ;
    
}

.statusHeader{
    font-weight: 600;
    font-size: 20px;
}

.statusScore{
    padding-top:15px;
    font-weight: 600;
    font-size: 20px;
    font-weight: 640;
    color:$purple-bg;
}

.statuslabel{
    padding-top:5px;
    font-weight: 600;
    font-size: 12px;
    color:#636163
}

.subContainer{
    padding:20px
}

.remarksheader{
    padding-left: 50px;
}

.persona{
    outline: transparent;
    position: relative;
    display: flex;
}

.personaremarks{
    padding-left: 10px;
    width: 330px;
    white-space: normal;
    font-size: 12px;
    font-weight: 600;
}

.remarksheadertitle{
    font-weight: bold;
}
.remarksheaderdate{
    font-size: 12px;
}