.comments{
    border:none;
}

.inputContainer {    
    padding-top:5px;
    font-size: 12px;
}

.persona{
    width: 5% !important;
}

.container{
    padding:10px;
    background-color: white;
    border: 1px solid #e7e7ee;
}